@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style for ChatBot */ 
.chatbot-icon {
  position: fixed;
  bottom: 75px; /* Adjust the distance from the bottom as needed */
  right: 10px; /* Adjust the distance from the right as needed */
  cursor: pointer;
  z-index: 999; /* Ensures it's above other content */
}

/* Style for BusStationCard*/ 
.shadow-bottom {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.pagination {
  display: flex;
  justify-content: space-between; /* This separates the buttons */
  align-items: center; /* Vertically aligns items in the center */
}

body {
  background-image: url('/images/Background.png');
  background-size: cover; /* Adjust to your preferred background size behavior */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps the background fixed when scrolling */
  background-position: center center; /* Center the background image */
}